@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  scroll-behavior: smooth;
  font-family: 'Roboto Slab', serif;
}

body {
  overflow-y: scroll;
  -ms-overflow-style: none; /*IE and Edge*/
  scrollbar-width: none; /* Firefox*/
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

.about {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}

.home {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: azure;
}

.projects {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
}

.link {
  text-decoration: none;
  color: white;
}

.img {
  width: 50%;
  border-radius: 100%;
}

.email {
  color: black;
  text-decoration: underline;
}

.email:hover {
  color: rgb(88, 88, 88);
}

@media screen and (min-width: 900px) {
  .img {
    width: 55%;
    margin-right: 5rem;
  }
}

@media screen and (min-width: 1300px) {
  .image {
    margin-right: 7rem;
    width: 50%;
  }
}
